USE [master]
GO
/****** Object:  Database [DTXD]    Script Date: 6/10/2016 11:47:17 AM ******/
CREATE DATABASE [DTXD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DTXD1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DTXD1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DTXD1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DTXD1_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DTXD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DTXD]
GO
/****** Object:  Table [dbo].[ChiTiet_DinhMuc]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_DinhMuc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaHieuCV_DM] [nvarchar](50) NOT NULL,
	[MaVL_NC_MTC] [nvarchar](50) NOT NULL,
	[SoLuong] [decimal](18, 3) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTiet_DinhMuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongTrinh]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTrinh](
	[MaCT] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[TenCT] [nvarchar](2000) NOT NULL,
	[HinhAnh] [text] NULL,
	[MoTa] [nvarchar](2000) NULL,
	[Gia] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CongViecChung] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaHieuCV_User] [nvarchar](50) NOT NULL,
	[MaHM] [nvarchar](50) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[KhoiLuong] [decimal](18, 0) NOT NULL,
	[GiaVL] [decimal](18, 0) NOT NULL,
	[GiaNC] [decimal](18, 0) NOT NULL,
	[GiaMTC] [decimal](18, 0) NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MaHieuCV_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DinhMuc]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhMuc](
	[MaHieuCV_DM] [nvarchar](50) NOT NULL,
	[CongTac] [nvarchar](2000) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[RangBuoc] [nvarchar](2000) NULL,
 CONSTRAINT [PK_DinhMuc] PRIMARY KEY CLUSTERED 
(
	[MaHieuCV_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonGia]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonGia](
	[MaVL_NC_MTC] [nvarchar](50) NOT NULL,
	[MaKV] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](1000) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DonGia] PRIMARY KEY CLUSTERED 
(
	[MaVL_NC_MTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangMuc]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangMuc](
	[MaHM] [nvarchar](50) NOT NULL,
	[MaCT] [nvarchar](50) NOT NULL,
	[TenHM] [nvarchar](2000) NOT NULL,
	[MoTa] [nvarchar](2000) NULL,
	[Gia] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_HangMuc] PRIMARY KEY CLUSTERED 
(
	[MaHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKV] [nvarchar](50) NOT NULL,
	[TenKV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [text] NOT NULL,
	[NoiDung] [text] NOT NULL,
	[HinhAnh] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[Email] [nvarchar](200) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[Ho_TenLot] [nvarchar](100) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](12) NULL,
	[NoiLamViec] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[Quyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Nguoi_Dung] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThanhPhanHaoPhi]    Script Date: 6/10/2016 11:47:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPhanHaoPhi](
	[MaHP] [nvarchar](50) NOT NULL,
	[MaHieuCV_User] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[Gia] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_ThanhPhanHaoPhi_U] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CongTrinh] ([MaCT], [Email], [TenCT], [HinhAnh], [MoTa], [Gia]) VALUES (N'CT1', N'mr.huynhhuuduy@gmail.com', N'Biệt Thự', NULL, N'Bình Thường', CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[CongTrinh] ([MaCT], [Email], [TenCT], [HinhAnh], [MoTa], [Gia]) VALUES (N'CT2', N'mr.huynhhuuduy@gmail.com', N'Trường Học', NULL, N'Đẹp', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[Nguoi_Dung] ([Email], [MatKhau], [Ho_TenLot], [Ten], [SDT], [NoiLamViec], [ThanhPho], [HinhAnh], [Quyen]) VALUES (N'mr.huynhhuuduy@gmail.com', N'123456', N'Huynh Huu', N'Duy', N'', NULL, NULL, NULL, N'admin')
ALTER TABLE [dbo].[ChiTiet_DinhMuc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DinhMuc_DinhMuc] FOREIGN KEY([MaHieuCV_DM])
REFERENCES [dbo].[DinhMuc] ([MaHieuCV_DM])
GO
ALTER TABLE [dbo].[ChiTiet_DinhMuc] CHECK CONSTRAINT [FK_ChiTiet_DinhMuc_DinhMuc]
GO
ALTER TABLE [dbo].[ChiTiet_DinhMuc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DinhMuc_DonGia] FOREIGN KEY([MaVL_NC_MTC])
REFERENCES [dbo].[DonGia] ([MaVL_NC_MTC])
GO
ALTER TABLE [dbo].[ChiTiet_DinhMuc] CHECK CONSTRAINT [FK_ChiTiet_DinhMuc_DonGia]
GO
ALTER TABLE [dbo].[CongTrinh]  WITH CHECK ADD  CONSTRAINT [FK_CongTrinh_Nguoi_Dung] FOREIGN KEY([Email])
REFERENCES [dbo].[Nguoi_Dung] ([Email])
GO
ALTER TABLE [dbo].[CongTrinh] CHECK CONSTRAINT [FK_CongTrinh_Nguoi_Dung]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec_HangMuc] FOREIGN KEY([MaHM])
REFERENCES [dbo].[HangMuc] ([MaHM])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec_HangMuc]
GO
ALTER TABLE [dbo].[DonGia]  WITH CHECK ADD  CONSTRAINT [FK_DonGia_KhuVuc] FOREIGN KEY([MaKV])
REFERENCES [dbo].[KhuVuc] ([MaKV])
GO
ALTER TABLE [dbo].[DonGia] CHECK CONSTRAINT [FK_DonGia_KhuVuc]
GO
ALTER TABLE [dbo].[HangMuc]  WITH CHECK ADD  CONSTRAINT [FK_HangMuc_CongTrinh] FOREIGN KEY([MaCT])
REFERENCES [dbo].[CongTrinh] ([MaCT])
GO
ALTER TABLE [dbo].[HangMuc] CHECK CONSTRAINT [FK_HangMuc_CongTrinh]
GO
ALTER TABLE [dbo].[ThanhPhanHaoPhi]  WITH CHECK ADD  CONSTRAINT [FK_ThanhPhanHaoPhi_CongViec] FOREIGN KEY([MaHieuCV_User])
REFERENCES [dbo].[CongViec] ([MaHieuCV_User])
GO
ALTER TABLE [dbo].[ThanhPhanHaoPhi] CHECK CONSTRAINT [FK_ThanhPhanHaoPhi_CongViec]
GO
USE [master]
GO
